:root {
    --black-text-color: #46484D;
    --dark-gray-text-color:#757575;
    --gray-text-color:#C4C4C4;
    --red-img-color:#E4003A;
    --green-img-color:#76BB20;
    --light-img-color:#F2F2F2;
  }